
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <title>Home</title>
</head>
<body>
    <h1 class='ejemplo1'>Bienvenido a mi aplicación web</h1>
    <p class='ejemplo2'>Esta es la página de inicio de mi aplicación web</p>

    <!-- Anchors (links) -->
    <a href="about.html" class="button">Learn More</a>
    <a href="#features" class="button">View All Features</a>

    <!-- Buttons (actions) -->
    <button class="submit success button">Save</button>
    <button type="button" class="alert button">Delete</button>
</body>
</html>
