{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <title>Resumen Foundation</title>
</head>
<body>
    <h1>Resumen Foundation</h1>

    <div class="grid-x" style="border: green 1px solid;">
        <h2 class="cell large-4" style="border: red 1px solid;">Ejemplo 1</h2>
        <h2 class="cell large-4" style="border: blue 1px solid;">Ejemplo 2</h2>
        <h2 class="cell large-4" style="border: violet 1px solid;" >Ejemplo 3</h2>

        <div class="grid-x">
            <h4 classm ,-}{% load p{{ñ}} %}>Ejemplo 1</h4>
            <h4 classm ,-}{% load p{{ñ}} %}>Ejemplo 2</h4>
            <h4>Ejemplo 3</h4>
        </div>

    </div>

</body>
</html>
